

.features-4-up{
	@include responsive-padding;
	.row{
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		.col-3{
			width: 100%;
		}

		@include desktop {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 20px;
		}
	} 
}
 


.features-3-up{
	@include responsive-padding;
	.row{
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		.col-4{
			width: 100%;
		}

		@include tablet {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 20px;
		}
	}
}

.features-2-up{
	@include responsive-padding;
	.row{
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		.col-6{
			width: 100%;
		}

		@include tablet {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}
	}
}


//// THESE ARE THE FULL IMAGE FEATURES THAT ARE MANUAL LINKS
.features-4-up, .features-2-up, .features-3-up, .features{
	.component-class-featuremanual {
		.component-feature {
			height: 100%;
		}

		.home-boxes{
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			transition: .3s;
			top: 0px;
			box-shadow: $shadow;
			height: 260px;

			@include desktop{
				height: 344px;
			}


			&::after {
				@include gradient();
			} 

			.box{
				margin: 0px;
				width: 100%;
				height: 100%;

				ul{
					height: 100%;
					
					li:first-child {
						height: 100%;

						div.image{
							height: 100%;
							div.has-ratio{
								height: 100%;
							}
						}

						img{
							object-fit: cover;
							height: 100%;
						}
					}
				}

				.body-item{
					position: absolute;
					bottom: 0;
					z-index: 2;
					min-height: auto;

					.body{
						min-height: auto;
						padding: 25px;
						hyphens: none;

						*{color:$light;}

						h4{ 
							text-transform: none;

							a:hover{
								text-decoration:none;
							}
						}

						&::after{
							@include arrow($light-blue);
						}

						.text{
							display: block !important;
							min-height: 55px;
							width: 100%;
						}

						.button-container a.button{
							position: absolute;
						    top: 0;
						    left: 0;
						    right: 0;
						    bottom: 0;
						    height: 100%;
						    width: 100%;
						    background: transparent;
							box-sizing: border-box;
	    					z-index: 2000;
			        
			        		span{display: none;}
						}
					}
				}
			}

			&:hover{
				box-shadow: $hover-shadow;
			    transition: .3s;
			    cursor: pointer;

			  &::after{@include gradient-hover()}

			  .box .body-item .body{
			  	&::after{
						@include arrow($medium-blue);
					}

				h4{
					color: $light-blue;
				}
			  }
			}
		}
	}
}





/// THIS IS HOW TO GRID SET UP THE FEATURES WITHIN THE WHITE CARD

.white-card.features.features-2 .row .page-column{
	display: grid;
	grid-template-areas:
    "header"
    "leftfeature" 
    "rightfeature";
  	grid-template-columns: 1fr;
  	gap: 10px;
  	padding: 20px;
  	width: 100%;

  	@include tablet {
  		grid-template-areas:
	    "header header"
	    "leftfeature rightfeature";
	  	grid-template-columns: 1fr 1fr;
	  	gap: 20px;
	  	padding: 40px 80px;
  	}

	.component-class-richtext {grid-area: header;}
	.component-class-featuremanual:first-child {grid-area: leftfeature;}
	.component-class-featuremanual:last-child {grid-area: rightfeature;}

}


.white-card.features.features-3 .row .page-column{
	display: grid;
	grid-template-areas:
	    "header"
	    "leftfeature" 
	    "middlefeature" 
		"rightfeature";
  	grid-template-columns: 1fr;
  	gap: 10px;
  	padding: 20px;
  	width: auto;

  	@include tablet{
  		width: 100%;
  		box-sizing: border-box;
  	}
  	
	@include desktop {
		grid-template-areas:
		    "header header header"
		    "leftfeature middlefeature rightfeature";
	  	grid-template-columns: 1fr 1fr 1fr;
	  	gap: 20px;
	  	padding: 40px 80px;
	  	width: auto;
	}

	.component-class-richtext {grid-area: header;}
	.component-class-featuremanual:nth-child(2){ grid-area: leftfeature; }
	.component-class-featuremanual:nth-child(3) { grid-area: middlefeature;}
	.component-class-featuremanual:last-child {grid-area: rightfeature;}
}





.advocate-sub-grid .col-12{
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

    @include tablet {
    	grid-template-columns: 1fr 1fr ;
    }

     @include desktop {
    	grid-template-columns: 1fr 1fr 1fr;
    }
}

/// THESE ARE THE MANUAL "CARDS" ON THE ADVOCATE PAGE - all contained in a rich text box

.feature-cards{
	padding-top: 0px;

	.col-12{
		display: grid;
   	 	grid-template-columns: 1fr;
    	gap: 20px;

	    @include tablet {
	    	grid-template-columns: 1fr 1fr ;
	    }

	     @include desktop {
	    	grid-template-columns: 1fr 1fr 1fr;
	    }

		.rich-text{
			flex: 1;
			border-radius: 24px;
			border: 1px solid $gray;
			background: white;
			padding: 15px;
			height: 100%;
    		box-sizing: border-box;
    		
    		//help positions arrow bottom
    		// position: relative;

    		@include desktop {
    			padding: 20px;
    		}

			h5{ @include h5($navy-blue); }

			h6{ margin-top: 10px; @include h6($primary-blue); }

			p, p a{ @include p($dark-gray); }

			p b{ @include p-bold($dark-gray); }

			figure:first-child{
				height: 130px;
				max-height: 130px;
				border-radius: 24px;
				overflow: hidden;
				width: 100% !important;
				max-width: none !important;

				@include tablet {
					height: 220px;
					max-height: 220px;
				}

				img{
					object-fit: cover;
					max-width: none;
			    	height: 100%;
					max-width: 100% !important;
			    	width: 100% !important;
				}

				//positions arrow bottom
				// position: absolute;
    // 			bottom: 20px;
			}

			&:hover{
				box-shadow: $hover-shadow;
				transition: .3s;
				h5, p, a{text-decoration: none;}
			}				
		}
	}
}



.features-flex{
	.row .col-12{
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include desktop {
			flex-direction: row;
			gap: 20px;
		}
	}
}

.advocate-hero .col-12{
	display: grid;
	grid-template-columns: 1fr;

	@include tablet{
		grid-template-columns: 1fr 1fr;
	}

	@include desktop{
		grid-template-columns: 2fr 1fr;
	}


	.component-container.component-class-image {
		max-height: 330px;
		overflow: hidden;
		border-radius: 24px;

		@include tablet{
			max-height: 330px;
		}

		@include desktop{
			max-height: 330px;
		}
	}
}


.advocate-subgrid{
	padding-top: 0px ;
	
	.row{
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;

		@include tablet {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.col-4{
		}
	}

	.component-class-featuremanual .home-boxes .box .body-item .body::after{
		height: 38px;
      	width: 40px;
      	padding-bottom:2px;
		content: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="22" viewBox="0 0 22 22" xml:space="preserve"><g transform="scale(0.7586)"><path fill="%231E3EAF" d="M16.3,14.2c0.4,0,0.8-0.1,1.1-0.4l7.5-7.5v3.9c0,0.4,0.1,0.7,0.4,1s0.6,0.5,1,0.5c0.4,0,0.8-0.1,1.1-0.4c0.3-0.3,0.4-0.6,0.4-1V2.7c0-0.4-0.1-0.8-0.4-1c-0.3-0.3-0.6-0.4-1-0.4H19c-0.4,0-0.8,0.2-1.1,0.5c-0.3,0.3-0.4,0.7-0.4,1.1c0,0.4,0.2,0.7,0.4,1c0.3,0.3,0.6,0.4,1,0.4h3.9l-7.5,7.5c-0.3,0.3-0.4,0.6-0.4,1c0,0.4,0.1,0.7,0.4,1S15.9,14.2,16.3,14.2z"/><path fill="%231E3EAF" d="M26.5,15.8c-0.8,0-1.5,0.7-1.5,1.5v7.4H4.4V4.1h7.4c0.4,0,0.7-0.1,1-0.4c0.3-0.2,0.4-0.6,0.4-1c0-0.4-0.1-0.7-0.4-1c-0.2-0.3-0.6-0.4-1-0.4H4.4c-0.8,0-1.5,0.3-2.1,0.9C1.7,2.8,1.4,3.5,1.4,4.3v20.6c0,0.8,0.3,1.5,0.9,2.1c0.6,0.6,1.3,0.9,2.1,0.9v-0.2H25c0.8,0,1.5-0.3,2.1-0.9c0.6-0.6,0.9-1.3,0.9-2.1v-7.4C28,16.5,27.3,15.8,26.5,15.8z"/></g></svg>');
	}

	.component-class-featuremanual .home-boxes:hover .box .body-item .body::after{
		height: 38px;
      	width: 40px;
      	padding-bottom:2px;
      	content: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="22" viewBox="0 0 22 22" xml:space="preserve"><g transform="scale(0.7586)"><path fill="%23f5f5f5" d="M16.3,14.2c0.4,0,0.8-0.1,1.1-0.4l7.5-7.5v3.9c0,0.4,0.1,0.7,0.4,1s0.6,0.5,1,0.5c0.4,0,0.8-0.1,1.1-0.4c0.3-0.3,0.4-0.6,0.4-1V2.7c0-0.4-0.1-0.8-0.4-1c-0.3-0.3-0.6-0.4-1-0.4H19c-0.4,0-0.8,0.2-1.1,0.5c-0.3,0.3-0.4,0.7-0.4,1.1c0,0.4,0.2,0.7,0.4,1c0.3,0.3,0.6,0.4,1,0.4h3.9l-7.5,7.5c-0.3,0.3-0.4,0.6-0.4,1c0,0.4,0.1,0.7,0.4,1S15.9,14.2,16.3,14.2z"/><path fill="%23f5f5f5" d="M26.5,15.8c-0.8,0-1.5,0.7-1.5,1.5v7.4H4.4V4.1h7.4c0.4,0,0.7-0.1,1-0.4c0.3-0.2,0.4-0.6,0.4-1c0-0.4-0.1-0.7-0.4-1c-0.2-0.3-0.6-0.4-1-0.4H4.4c-0.8,0-1.5,0.3-2.1,0.9C1.7,2.8,1.4,3.5,1.4,4.3v20.6c0,0.8,0.3,1.5,0.9,2.1c0.6,0.6,1.3,0.9,2.1,0.9v-0.2H25c0.8,0,1.5-0.3,2.1-0.9c0.6-0.6,0.9-1.3,0.9-2.1v-7.4C28,16.5,27.3,15.8,26.5,15.8z"/></g></svg>');
	}
}





.component-feature .box .body .text p {
	@include p($dark-gray);
}








//// THIS IS ON THE CAREER OPPORTUNITIES PAGE - THE JOB LIST

.component-entry-list{
	margin-top: 20px;

	.upcoming.news-list.tidy h4 a, .upcoming.news-list.tidy h4{ 
		@include h5($navy-blue);
		text-transform: lowercase;
		text-transform: capitalize;

		i {display: none;}

		display: none;
	}

	.news-list .entry{
		padding: 30px 0px;
	}

	.jobs .entry:first-of-type, .upcoming .entry:first-of-type, .news-list .entry:first-of-type{
		border-top: 0px solid #ffffff !important;
	}

	.news-list .entry p.meta a{
		position: relative;

		&::after{
			@include arrow($primary-blue);
			left: 95px;
			top: 8px;
		}

		&::before{
			content: "Apply now";
			position: absolute;
    		top: 40px;
    		@include p-bold($navy-blue);
		}
	}

	.upcoming.news-list.tidy .entry.news-entry p.title a{
		@include h5($navy-blue);
	}

	.upcoming.news-list.tidy .entry.news-entry p.meta a{
		@include p($dark-gray);
	}
}








//// THESE ARE THE WHITE FEATURE ARTICLES PULLING IN


.feature-posts{
	@include responsive-padding;

	.col-12 .component-feature.-alignment-side-by-side[data-row-size="3"] .box{
		width: auto !important;
	}
 	.row{

		.col-4{
			flex: 1;

			.component-image img{
				height: 250px;
				border-radius: 24px;
				overflow: hidden;
				object-fit: cover;
				margin-bottom:20px;
			}

			h5, h5 a{
				@include h5($navy-blue);
				text-transform: none !important;
			}

			p{ @include p($dark-gray);}		
		}
	}


	.home-boxes{
		display: flex;
		gap: 20px;
		flex-direction: column;

		@include tablet {
			flex-direction: row;
		}

		.box{
			flex: 1;
			border-radius: 24px;
			// border: 1px solid $gray;
			background: white;
			padding: 15px;
			box-shadow: $shadow;
			transition: .3s;
			width: auto;

			//new 
			margin-top: 0px;

			@include desktop{
				padding: 20px;
			}

			.body{
				padding: 0px;
				padding-top: 2px;
				min-height: auto;
				margin-top: 20px;

				&:after{
					margin-top: 20px;
					@include arrow($primary-blue);
				}

				.button-container {
					margin-top:0px;
					a.button{
						position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    height: 100%;
				    width: 100%;
				    background: transparent;
						box-sizing: border-box;
    				z-index: 2000;

				        span{
				        	display: none;
				        }
					}
				}
			}

			.image img{
				height: 130px;
				border-radius: 24px;
				overflow: hidden;
				object-fit: cover;

				@include desktop {
					height: 250px;
				}
			}

			h4.title, h4.title a{
					@include h4($navy-blue);

					margin-bottom:15px;
					text-transform: none !important;
				}

			p{
				@include p($dark-gray);
			}	

			.text-container .text{
				br{display: none;} // CHECK IF THS IS CAUSING ISSUES
				p a{ @include p($dark-gray);}
			}

			&:hover{
				box-shadow: $hover-shadow;
				transition: .3s;

				.body{
					&:after{
						@include arrow($medium-blue);
					}
				}
			}		
		}
	}
}

.feature-posts.documents .home-boxes .box {

	.body {
		&:after{
			margin-top: 20px;
			@include document($primary-blue);
		}
	}

	&:hover{
		.body{
			&:after{
				@include document($medium-blue);
			}
		}
	}
}






//// THESE ARE THE WHITE FEATURE ARTICLES PULLING IN


.feature-posts-manual{
	@include responsive-padding;
 	.row{

		.col-4{

			.component-image img{
				height: 250px;
				border-radius: 24px;
				overflow: hidden;
				object-fit: cover;
				margin-bottom:20px;
			}

			h5, h5 a{
				@include h5($navy-blue);
				text-transform: none !important;
			}

			p{ @include p($dark-gray);}			
		}
	}

	.home-boxes{
		display: flex;
		gap: 20px;
		flex-direction: column;

		@include tablet {
			flex-direction: row;
		}

		.box{
			flex: 1;
			border-radius: 24px;
			border: 1px solid $gray;
			background: white;
			padding: 15px;
			box-shadow: $shadow;
			transition: .3s;

			@include desktop{
				padding: 20px;
			}

			.body{
				padding: 0px;
				padding-top: 2px;
				min-height: auto;
				margin-top: 20px;

				&:after{
					margin-top: 20px;
					@include arrow($light-blue);
				}

				.button-container {
					margin-top:0px;
					a.button{
						position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    height: 100%;
				    width: 100%;
				    background: transparent;
						box-sizing: border-box;
    					z-index: 2000;
				       
				        span{
				        	display: none;
				        }
					}
				}
			}

			.image img{
				height: 130px;
				border-radius: 24px;
				overflow: hidden;
				object-fit: cover;

				@include desktop {
					height: 250px;
				}
			}

			h4.title, h4.title a{
					@include h5($navy-blue);
					text-transform: none !important;
				}

			p{
				@include p($dark-gray);
			}	

			&:hover{
				box-shadow: $hover-shadow;
				transition: .3s;

				.body{
					&:after{
						@include arrow($medium-blue);
					}
				}
			}		
		}
	}
}


.feature-posts-manual.advocate-subgrid{
	> .row{display: inline-block;}
	@include responsive-padding;

	.col-12{
		display: grid;
   	 	grid-template-columns: 1fr;
    	gap: 20px;

    	.component-class-featuremanual{
    		position: relative;
    		display: flex;

    		.home-boxes{
    			height: 100%;
    		}
    	}

	    @include tablet {
	    	grid-template-columns: 1fr 1fr ;
	    }

	     @include desktop {
	    	grid-template-columns: 1fr 1fr 1fr;
	    }
		.component-feature .box{
			width: auto;
		}
	}
}



//// DYNAMIC FEATURES IN A BLUE SECTION SPECIFICALLY - HOMEPAGE?

.bg-navy-blue.feature-posts .component-feature{
	.home-boxes{
		// display: flex;
		// gap: 20px;

		.box{
			// flex: 1;
			border-radius: 24px;
			border: 0px solid $light;
			background: $navy-blue;
			padding: 20px;

			.body{
				padding: 0px;
				padding-top: 2px;

				h4.title, h4.title a{
					@include h5($light);
					text-transform: none !important;
				}

				.text {
					p, p a{
						@include p($light);
					}
				}	
			}

			.image img{
				height: 250px;
				border-radius: 24px;
				overflow: hidden;
				object-fit: cover;
			}		
		}
	} 
}





// //// CALENDAT ICON IN POSTS
// .section-type-calendar{
// 	.title-container{margin-bottom: 10px;}
// 	.date-box{
// 		width: 40px; 

// 		@include desktop {
// 			width: 70px;
// 		}
// 		.month{
// 			border: 0px;
// 			background: $light-blue;
// 			text-transform: capitalize;
// 			@include h6($primary-blue);
// 			font-weight:600;
// 			padding: 3px;
// 			border-radius: 10px 10px 0px 0px;
// 		}

// 		p {
// 			background: $light;
// 			border: 0px;
// 			border-radius: 0px 0px 10px 10px;
// 			padding: 5px 0px;

// 			span.day{
// 				@include h5($dark-gray);
// 			}
// 		}
// 	}
// }













