/// HOME

.home-hero{
	.row-has-promo .item-count-1 .component-class-promo{
		height: 35vh;
		position:relative;

		@include desktop{ 
			height: 100%;
			height: 65vh;
		}

		@include largedesktop{
			height: 72vh;
		}


		.component-promo{
			position:relative;

			&::after {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
				background: linear-gradient(180deg, rgba(9, 14, 32, 0) 27.83%, rgba(9, 14, 32, 0.8) 98.31%);
			    pointer-events: none; // Ensures overlay doesn't interfere with interactions

			}
		}
	}

	.component-promo:not(.btn-anchored).overlay-horizontal-position-middle.overlay-vertical-position-middle .bg-type-image{
		top: none;
	}

	.component-promo .mobile-image, .component-promo .tablet-image, {
		height: 100%;
	    width: auto;
	    display: flex;
	    justify-content: center;

	    img{
	    	height:100%;
	    	width:auto;
	    }
	} 

	h1 br{
		display: none;
	}

	.component-promo .desktop-image {
		min-height: 100%;
    	min-width: auto;
	}

}


.row-has-promo, .row-has-promo:not(.row-full-width){
	max-width: none !important;
}
	



.featured-posts{
	.row{
		display: grid;
		grid-template-columns: 1fr;
		gap: 0px;

		.col-4{
			// width: 100%;
		}

		img{
			border-radius: 24px;
		}

		.rich-text{
			*{
				color: $light;
			}
		}

		@include desktop {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}






.event-promo-full-width.basic{
	    position: relative;

	    .col-6{
	    	padding-bottom: 0px !important;
	    }

		.rich-text{
			border-radius:24px;
		    box-sizing: border-box;
		    background: $light;
		    width: 100% !important;
		    padding: 20px;
		    display: inline-block;
		        margin-top: 150px;

		    @include white-card-text();

		    h4, p strong {
		    	color: $navy-blue;
		    }

		    @include desktop{
		    	width: 50% !important;
		    	padding: 40px;
		    	    margin-top: 0px;
		    }
		}

		.col-6:nth-child(2){
			position: absolute;
		    left: 0;
		    border-radius: 0;
		    z-index: -1;
		    top: 0;
		        height: 100%;

		        .component-class-image{
		        	height: 100%;
		        }
		}


		.col-6:nth-child(1){ 

			z-index:2;

			&::after {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
				background: linear-gradient(180deg, #ffffff00 24.1%, $navy-blue 39.31%);
			    pointer-events: none; // Ensures overlay doesn't interfere with interactions
			    z-index:-1;

			    @include tablet{
			    	background: none;
			    }
			}
		}


		.section-header-left{
			margin-bottom:40px;
		}

		.component-image{
			border-radius: 0px !important;
			display: inline-block !important;
			height: 100%;

			.has-ratio-image{
				.aspect-ratio{
					height: 100%;

					img{
						height: 100%;
					}
				}
			}
		}

		@include desktop{
			padding: 120px 60px;
		}

		@include desktop{
			padding: 160px 80px;
		}
}
 





