


.section-resource-center.section-resource-center-main{

	nav.paging{
		display: none;
	}
	
	.load-more{
		text-align: center;
		position: relative;

		button#load-more-btn{
			background: transparent;
    		border: 0px;
    		@include label($navy-blue);
			
			font-weight: 600;
    		text-transform: uppercase;
    		transition: .3s;

    		&:hover{
    			cursor: pointer;
    			color: $medium-blue;
    			transition: .3s;
    			text-decoration: none !important;

    			&::before {
    				background: $medium-blue;
    				transition: .3s;
					content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22%23FDFDFD%22/%3E%3C/svg%3E");
    			}
    		}

    		&:disabled{
    			color: $light-gray;
    		}
		}

		button#load-more-btn::before {
		  	content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22black%22/%3E%3C/svg%3E");
			position: relative;
			transform: rotate(180deg);
		  	transition: transform 0.3s ease;

	  	    width: 40px;
			height: 35px;
			padding-bottom: 5px;

		    background: $light-blue;
		    border-radius: 100%;
		    text-align: center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin: 0 auto;
			margin-bottom: 10px;
		}

		button#load-more-btn:disabled::before {
		  background: $light-gray;
		  content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22%23c9c9c9%22/%3E%3C/svg%3E");

		}

		button#load-more-btn.arrow-reverse::before {
			transform: rotate(0deg);
		}
	}	


	.page-above-title, .page-main {
		padding: 0px !important;

		ul li:not(.nav-item) {
		  	@include h5($dark-gray);
		  }
	}

	.wrapper.divider{
		padding-top:0px;

		.component-divider{
			padding-top:0px;
		}
	}



	header.page-header{
		display: inline-block !important;
	}


//// TITLE AND SEARCH AREA
	.page-top{
		background: transparent;
		@include bg-color($white);
		padding-top: 10px;
		padding-bottom: 10px;


		.page-title{
			h2{
				@include h2($primary-blue);
				text-align:center;
			}
		}


		#resource-center-controls{

			.grid{
				display: flex;
				max-width: none !important;
				grid-gap: 10px;
				flex-wrap: wrap;
				flex-direction: column;

				@include tablet{
					flex-direction: row;
				}

				.col-span-2:first-child{
					order:2;
					margin-left: auto;
					margin-right: 0;

				}

				.col-span-2:nth-child(2){
					order:1;
				}

				.col-span-2:nth-child(3){
					order:2;
				}

				.col-span-2:nth-child(4){
					order:3;
				}

				.select-wrapper{
					margin: 0px;


						// border: 1px solid $gray;
		   	//  			border-radius: 24px;
		   	//  			width: auto !important;
					
				}
			}



			.select-wrapper select{
				background: transparent;
				width: auto !important;
				box-shadow: none;

				height: 35px;
    			line-height: 35px;

    			display: flex;
   			 	align-items: center;

   			 	    padding:0px 40px 0px 15px;
   					appearance: none;
   					position: relative;
   					@include caption($text);

    			@include tablet{
    				height: 45px;
    				line-height: 45px;
    			}

    			span{
    				@include caption($text);
    				margin-top:0px;
    			}
			
			}

			/* Add dropdown arrow via ::before */
				.select-wrapper::after {
					  	content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22black%22/%3E%3C/svg%3E");
						position:absolute;
						right: 16px;
    					top: 16px;
		    			transform: rotate(180deg);
					  	transition: transform 0.3s ease;
					}


			.chzn-container-single .chzn-drop{
				margin-top: 8px;
				padding-top: 0px;
				box-shadow: $hover-shadow;
				border: 0px solid black;
				border-radius: 16px;
				overflow: hidden;
			}

			.chzn-container .chzn-results li+li {
				border: 0px;
			}

			.chzn-container .chzn-results .active-result{
				&.result-selected{
					background-color: $pale-blue;
				}
				&.highlighted{
					background-color: $ieta;
				}

			}

			form{
				width: 100%;
			}

			input[name="keyword"] {
				//background: $light-gray;
				border-radius: 100px;
				position: relative;
				border: 1px solid $light-gray;

				background-image: url("data:image/svg+xml,%3Csvg%20width='18'%20height='18'%20viewBox='0%200%2018%2018'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M16.455%2018L10.2262%2011.7796C9.7357%2012.1551%209.17166%2012.4571%208.53406%2012.6857C7.89646%2012.9143%207.21798%2013.0286%206.49864%2013.0286C4.68392%2013.0286%203.14714%2012.3958%201.88828%2011.1301C0.629428%209.86514%200%208.32653%200%206.51429C0%204.70204%200.629428%203.1631%201.88828%201.89747C3.14714%200.63249%204.68392%200%206.49864%200C8.31335%200%209.85439%200.63249%2011.1217%201.89747C12.3884%203.1631%2013.0218%204.70204%2013.0218%206.51429C13.0218%207.23265%2012.9116%207.9102%2012.6912%208.54694C12.4702%209.18367%2012.1717%209.73878%2011.7956%2010.2122L18%2016.4327L16.455%2018ZM6.49864%2010.7755C7.6921%2010.7755%208.70572%2010.3631%209.53951%209.53829C10.3733%208.71412%2010.7902%207.70612%2010.7902%206.51429C10.7902%205.32245%2010.3733%204.31412%209.53951%203.48931C8.70572%202.66514%207.6921%202.25306%206.49864%202.25306C5.30518%202.25306%204.2958%202.66514%203.47052%203.48931C2.64458%204.31412%202.23161%205.32245%202.23161%206.51429C2.23161%207.70612%202.64458%208.71412%203.47052%209.53829C4.2958%2010.3631%205.30518%2010.7755%206.49864%2010.7755Z'%20fill='%2327277C'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				// background-position: 4% center;
				// background-size: 7%;
				// padding: 10px;
				// transition: .3s;
				// margin: 0px;
			 //    width: 40px;
			 //    height: 40px;
			    // padding: 14px 20px 14px 30px;

			    /// SETS TO CLOSE
				width: 0px;
		        height: auto;
		        padding: 14px 10px 14px 40px;
		        background-position: 47% center;
		        background-size: 36%;
		        background-color: $light-gray;

			    @include caption($text);
			    line-height: 15px !important;
				margin-top: 0px !important;

			    &::placeholder {
					color: transparent !important;  /* hides the placeholder text */
					font-size: 0px;
					@include caption($text);
					line-height: 15px !important;
					margin-top: 0px !important;
				}

				@include tablet{
					// width: auto;
					// height: auto;
					// padding: 14px 20px 14px 40px;
					// background-position: 6% center;
					// background-size: 8%;

					&::placeholder {
						
					}

					&:focus::placeholder {
						@include caption($text);
						line-height: 15px !important;
			   			margin-top: 0px !important;
					}
				}

				&:focus{
					transition: .3s;
					width: 100%;
					background-position: 7% center;
					background-size: 7%;
					padding: 14px 20px 14px 45px;
					transform-origin: right center !important;
				}
			}

			select[name="type"] {
				background: red;
				border: 1px solid $gray;
   	 			border-radius: 24px;
			}

			select[name="topic"] {
				// background: red;
				border: 1px solid $gray;
   	 			border-radius: 24px;
			}


			input[type="submit"] {
				@include button($light-gray, $text);
				@include label($text);
    			width: auto;
    			margin-right:10px;
				font-weight: 300 !important;
				display: none;
			}

			.reset-search{
				display: none;
			}



			.reset-search{
				float: none;
				@include caption($text);
				line-height: 50px !important;
				font-weight: 300;
				text-decoration: underline;
			}


			// THIS IS GRID AND LIST ICONS

			ul#display-buttons{
				display: flex;

				li:first-child, li:nth-child(2){ //grid and list icon
					margin-left: 0;

					a{
						margin-left: 0;
						display: flex;
						align-items: center;
						padding: 10px;
					    border: 1px solid $gray;

					    font-size:0px !important;

					    @include tablet{
  							font-size: initial !important;
  							padding: 10px 20px;
  							gap: 8px;
					    }


					    @include label($dark-gray);

						i.ico-grid, i.ico-list, i.ico-map{
							background: none;
							height: 14px;
							width: 14px;
						    margin-top: 0px;
						    margin-bottom: 0px;
						    background-size: cover;

						    filter: none !important;

						    @include tablet{
						    	height: 11px;
						    	width: 11px;
						    }
						}

						&.active{
							background: $light-blue;
						}

						&:hover{
							background: $light-gray;
						}
					}
				}

				li:first-child{ // list icon
					a{
						border-radius: 10px 0px 0px 10px;
						.ico-list{
		  					content: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2212%22%20viewBox%3D%220%200%2014%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M13.75%2011.25H0.25V9.75H13.75V11.25ZM13.75%208.25H0.25V6.75H13.75V8.25ZM13.75%205.25H0.25V3.75H13.75V5.25ZM13.75%202.25H0.25V0.75H13.75V2.25Z%22%20fill%3D%22%232E3A59%22/%3E%3C/svg%3E");
						}
					}
				}

				li:nth-child(2){ // grid icon
					a{
						border-radius: 0px 10px 10px 0px;
						.ico-grid{
							content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M11.25%2011.25H6.75V6.75H11.25V11.25ZM5.25%2011.25H0.75V6.75H5.25V11.25ZM11.25%205.25H6.75V0.75H11.25V5.25ZM5.25%205.25H0.75V0.75H5.25V5.25Z%22%20fill%3D%22%232E3A59%22/%3E%3C/svg%3E");
						}
					}
				}
			}

			//// LIST 

			&[data-display-type="card_and_list_view_list_default"]{
				// LIST ICON
				ul#display-buttons li a[data-display-value="list"] {
					background: $light-blue;
					color: $navy-blue;
				}

				// CARD ICON
				ul#display-buttons li a[data-display-value="card"] {
				
				}
			}

			//// CARD

			&[data-display-type="card_and_list_view_card_default"]{
				// LIST ICON
				ul#display-buttons li a[data-display-value="list"] {

				}

				// CARD ICON
				ul#display-buttons li a[data-display-value="card"] {
					background: $light-blue;
					color: $navy-blue;
				}
			}
		}
	}


//// THE LISTINGS

	.page-main{
		.shell.resource-center-style#resource-center-listing{
			padding-top: 0px;

			&[data-display-type="card_and_list_view_card_default"], &[data-display-type="card_view_only"]{

				@include bg-color($white);

				padding-top: 0px !important;

				.row{
					.positions{
						.listing-container{
							.entry.resource-entry{
									flex: 1;
									border-radius: 24px;
									border: 1px solid $gray !important;;
									background: white;
									padding: 15px;
									box-shadow: $shadow;
									transition: .3s;
									width: auto;
									margin-top: 0px;

									@include desktop{
										padding: 20px;
									}

										&:after{
											margin-top: 20px;
											@include document($primary-blue);
										}

										&:hover{
											box-shadow: $hover-shadow;
											transition: .3s;
											cursor: pointer;

											&:after{
												margin-top: 20px;
												@include document($medium-blue);
											}
										}		
					
								a div.resource-thumbnail{
									aspect-ratio: 3 / 2;
									overflow: hidden;

									img{
										height: 100%;
									 //    width: auto;
									    border-radius: 10px;
									}

									&.has-ratio{
										padding-bottom: 0px !important;
									}
								}

								.resource-content{
									.resource-button{

									}

									.resource-type{
										display: none;
									}

									h3{
										order: 2 !important;
										@include h4($navy-blue);
									}

									.resource-topics{
										order: 1 !important;
										a{
											@include p($medium-blue);
											@include p-bold($medium-blue);
											border: 0px;
											padding: 0px !important;
										}
									}

									.resource-description{
										order: 3;
									}
								}
							}
						}

						.entry:not(.resource-entry) {
							border: 0px solid $gray;
							padding: 0px;

							h3{
								@include h4($dark-gray);
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}








.section-resource-center.section-resource-center-listing{

	aside{
		display: none;
	}

	.col-8{
		width: 100%;
	}

	.post-heading{
		@include responsive-padding;
		background: $light;
		margin-bottom: 0px;

		@include tablet {
			.resource-header-content{
				@include responsive-padding;
				padding-top: 0px;
				padding-bottom: 0px;
			}

		}

		h5{
			@include h5($medium-blue);
		}

		.resource-type{
			display: none;
		}

		.resource-topics{
			
			a{
				@include label($medium-gray);
				padding: 8px 16px !important;
				//border-radius: 16px;
				background: $white;
				border: 2px solid $gray;

				&:hover{
					background: $ieta;
					box-shadow:$hover-shadow;
				}
			}

			@include tablet{
				margin-left: auto;
			}
		}

		.resource-middle-wrapper{
			display: flex;
			justify-content: space-between;
    		align-items: flex-start;
    		gap: 10px;

    		flex-direction: column;

    		@include tablet{
    			align-items: center;
    			flex-direction: row;
    		}
		}

		.resource-action-button{
			// @include download-btn($primary-blue);

			a{
				font-size: 0px;
				background: transparent;
				border: 0px;

				height: 40px;
			    width: 40px;
			    padding: 0px;
			    display: flex;
			    justify-content: center;
			    align-items: flex-end;
			    border: 2px solid $gray;
			    background: $white;
			        border-radius: 100%;

				i.fa{
					display: none !important;
				}

				&::after{
					height: auto !important;
		    		width: auto  !important;
		    		left: auto;
		    		content: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M8%2011.575C7.86667%2011.575%207.74167%2011.5542%207.625%2011.5125C7.50833%2011.4708%207.4%2011.4%207.3%2011.3L3.7%207.7C3.5%207.5%203.40417%207.26667%203.4125%207C3.42083%206.73333%203.51667%206.5%203.7%206.3C3.9%206.1%204.1375%205.99583%204.4125%205.9875C4.6875%205.97917%204.925%206.075%205.125%206.275L7%208.15V1C7%200.716667%207.09583%200.479167%207.2875%200.2875C7.47917%200.0958333%207.71667%200%208%200C8.28333%200%208.52083%200.0958333%208.7125%200.2875C8.90417%200.479167%209%200.716667%209%201V8.15L10.875%206.275C11.075%206.075%2011.3125%205.97917%2011.5875%205.9875C11.8625%205.99583%2012.1%206.1%2012.3%206.3C12.4833%206.5%2012.5792%206.73333%2012.5875%207C12.5958%207.26667%2012.5%207.5%2012.3%207.7L8.7%2011.3C8.6%2011.4%208.49167%2011.4708%208.375%2011.5125C8.25833%2011.5542%208.13333%2011.575%208%2011.575ZM2%2016C1.45%2016%200.979167%2015.8042%200.5875%2015.4125C0.195833%2015.0208%200%2014.55%200%2014V12C0%2011.7167%200.0958333%2011.4792%200.2875%2011.2875C0.479167%2011.0958%200.716667%2011%201%2011C1.28333%2011%201.52083%2011.0958%201.7125%2011.2875C1.90417%2011.4792%202%2011.7167%202%2012V14H14V12C14%2011.7167%2014.0958%2011.4792%2014.2875%2011.2875C14.4792%2011.0958%2014.7167%2011%2015%2011C15.2833%2011%2015.5208%2011.0958%2015.7125%2011.2875C15.9042%2011.4792%2016%2011.7167%2016%2012V14C16%2014.55%2015.8042%2015.0208%2015.4125%2015.4125C15.0208%2015.8042%2014.55%2016%2014%2016H2Z%22%20fill%3D%22%23545454%22/%3E%3C/svg%3E");
		    		position: relative;
					display: flex;
				    align-items: center;
				    justify-content: center;

				}

				&:hover{
					background: $ieta;
					box-shadow:$hover-shadow;
				}
				
			}
		}

		ul.headers li a{
			@include h6($text);
			i{
				display: none;
			}

			&:hover{
				text-decoration: underline;
			}
		}
	}

	article.post{
		@include responsive-padding;
		padding-bottom: 0px !important;

		.resource-article-content{
			@include tablet {
				@include responsive-padding;
				padding-top: 0px;
				padding-bottom: 0px !important;
			}
		}

		img{
			width: 100%;
			border-radius: 24px;
			background: $primary-blue;
		}

		div.editor-copy{
			@include tablet {
				max-width: 70%;
				margin: 0 auto;
			}

			img{
				border-radius: 24px;
				box-sizing: border-box;
				margin: 0px;
				padding: 0px;
			}
		}
	}

	.wrapper.article-back{
		@include tablet {
			max-width: 70%;
			margin: 0 auto;
		}
	}


	.wrapper.feature-posts{
		h4{
			margin-bottom: $toppad-mob;

			@include desktop{
				margin-bottom: $toppad-desk;
			}
		}
	}

}


// HIDING THE LIST VIEW

.section-resource-center.section-resource-center-main .page-top #resource-center-controls ul#display-buttons{
	display: none !important;
}





/// THIS IS FOR THE TRIP PLANNER CODE
#trip-planner-custom-code{
	@include responsive-padding;

	display: grid;



	.filter-wrapper{
	
	    box-shadow: 0px 6px 20px 5px #0000000f;
	    position:relative;
	    margin: 0 auto;
	    border-radius:0px;
	    box-sizing: border-box;
	    background: $white;
	    width: auto;
	    // @include responsive-padding;
	    padding: 40px;

	    @include desktop{
	    	border-radius:24px;
	    }

		.filters {
	      display: grid;
	      grid-template-columns: 1fr;
	      grid-template-areas:
	      "select"
	      "audience"
	      "demographic"
	      "duration"
	      "type"
	      "close"
	      "clear";
	      gap: 15px;
	      margin-bottom: 24px;

	      @include tablet{
	      	grid-template-columns: 1fr 1fr;
	      	grid-template-areas:
	      	"select clear"
	      	"audience audience"
	      	"demographic duration"
	      	"type type";
	      }

	      @include desktop{
	      	 gap: 25px;
	      }

	      h5{
	      	margin-bottom: 15px;
	      	@include h6($primary-blue);
	      }

	      .filter-nav-top{
	      	grid-area: top-nav;
	      	display: flex;
    		align-items: center;
    		justify-content: space-between;
	      }

	      .close-filters{
	      	grid-area: close;
	      }

	       p.caption{
	      	grid-area: select;
	      }


	      #clearFiltersBtn{
	      	grid-area: clear;
	      }


	      .audienceFilter{
	      	grid-area: audience;
	      }
	      .demographicFilter{
	      	grid-area: demographic;

	      }
	      .typeFilter{
	      	grid-area: type;

	      }
	      .durationFilter{
	      	grid-area: duration;

	      }

	      .filter{
	      	display: flex;
			flex-direction: row;
   			flex-wrap: wrap;
   			gap: 5px;

   			@include desktop{
				gap: 10px;
   			}

	      	label{
	      		border-radius: 25px;
	      		border: 1px solid $gray;
	      		@include caption($dark-gray);
				padding: 5px 10px;

				@include desktop{
					padding: 10px 20px;
				}

	      		input{
	      			display: none;
	      			&:checked{
	      			}
	      		}

	      		&:has(input:checked){
	      			background: $primary-blue;
	      			@include caption($light);
	      		}
	      	}
	      }

	      button#clearFiltersBtn{
			background: none;
    		border: none;
    		display: flex;
    		display: none;

    		@include caption($dark-gray);
    		font-weight: 600;

    		span{
    			font-size: 20px;
    			padding-left: 7px;
    		}
	      }

	      #typeFilter.filter{
	      	display: grid;
	      	grid-template-columns: 1fr 1fr;
	      	gap: 10px;

	      	label{
				border-radius: 10px;
				padding: 10px 10px;

				b{
					@include desktop{
						display: block;
					}
				}

				span {
				  text-transform: capitalize;
				}
	      	}

	      	@include tablet {
	      		grid-template-columns: 1fr 1fr;
	      	}

	      	@include desktop{
	      		grid-template-columns: 1fr 1fr 1fr 1fr;
	      	}
	      }
	    }
	}


    label {
      font-size: 10px;
      cursor: pointer;
    }

    #data-list {
      list-style: none;
      padding: 0;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      margin-top: 40px;

      @include tablet {
      	grid-template-columns: 1fr 1fr 1fr;
      	grid-gap: 20px;
      }

      @include desktop{
      	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      	grid-gap: 30px;
      }
    }

    #data-list li {

      &:hover{
      	a{
      		p{text-decoration: none;}
      	}
      }

      .image-wrap{
      	padding: 10px;
      	border: 1px solid $dark-gray;
     	border-radius: 20px;
      	aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;

		&:hover{
			box-shadow: 0px 6px 20px 5px #0000000f;
		}
      }

      img{
  	    max-width: 85%;
	    max-height: 85%;
	    height: auto;
	    width: auto;
      }

      p.bold{
      	@include p-bold($dark-gray);
      }

    }

    .item-name {
      font-weight: bold;
      font-size: 18px;
    }

    .no-results {
      color: #888;
      font-style: italic;
    }





/// POP UP AND FILTER ACCORDIONS

	@media (max-width: 767px) {
	    .popup {
		  position: fixed;
		  inset: 0;
		  background: rgba(0, 0, 0, 0.6);
		  display: none;
		  align-items: center;
		  justify-content: center;
		  padding: 1rem;
		  z-index: 9999;
		}

		.popup.active {
		  display: flex;
		}

		.popup-content {
		  background: #fff;
		  width: 100%;
		  max-width: 400px;
		  border-radius: 12px;
		  padding: 20px;
		  position: relative;
		  animation: fadeIn 0.3s ease;

		  height: 100%;
        	box-sizing: border-box;
        	width: 100%;
        max-width: none;
		}


		/* Container spacing (optional) */
		.audienceFilter,
		.demographicFilter,
		.durationFilter,
		.typeFilter {
		  border-bottom: 1px solid #ddd;

		  h5{
		  	cursor: pointer;
			margin: 0;
			position: relative
		  }
		}

		/* Optional arrow indicator */
		.audienceFilter h5::after,
		.demographicFilter h5::after,
		.durationFilter h5::after,
		.typeFilter h5::after {
		  content: "+";
		  position: absolute;
		  right: 0;
		  transition: transform 0.3s ease;
		}

		.active > h5::after {
		  content: "−";
		}

		/* Accordion content */
		.filter {
		  max-height: 0;
		  overflow: hidden;
		  transition: max-height 0.3s ease;

		  label{
		  	    font-size: 12px !important;
		  }
		}

		/* Open state */
		.open-filter .filter {
		  max-height: 500px; /* large enough to fit content */
		  margin-bottom: 15px;

		  label{
		  	    font-size: 12px !important;
		  }
		}
	}
}

#trip-planner-custom-code{
	#openPopup{
		display: inline-flex;
	    border: 1px solid $gray;
	    padding: 5px 10px;
	    align-items: center;
	    gap: 10px;
		border-radius: 5px;
		margin-bottom:20px;

		&:hover{
			background: $light-blue;
			transition: .2s;
			cursor: pointer;
		}
	}

	@include tablet{
		.close-filters, #openPopup{
			display: none;
		}	
	}
}




#trip-planner-custom-code{

	.load-more{
		text-align: center;
		position: relative;
		margin-top: 40px;


		button#loadMoreBtn{
			background: transparent;
    		border: 0px;
    		@include label($navy-blue);
			
			font-weight: 600;
    		text-transform: uppercase;
    		transition: .3s;

    		&:hover{
    			cursor: pointer;
    			color: $medium-blue;
    			transition: .3s;
    			text-decoration: none !important;

    			&::before {
    				background: $medium-blue;
    				transition: .3s;
					content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22%23FDFDFD%22/%3E%3C/svg%3E");
    			}
    		}

    		&:disabled{
    			color: $light-gray;
    		}
		}

		button#loadMoreBtn::before {
		  	content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22black%22/%3E%3C/svg%3E");
			position: relative;
			transform: rotate(180deg);
		  	transition: transform 0.3s ease;

	  	    width: 40px;
			height: 35px;
			padding-bottom: 5px;

		    background: $light-blue;
		    border-radius: 100%;
		    text-align: center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin: 0 auto;
			margin-bottom: 10px;
		}

		button#loadMoreBtn:disabled::before {
		  background: $light-gray;
		  content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22%23c9c9c9%22/%3E%3C/svg%3E");

		}

		button#loadMoreBtn.arrow-reverse::before {
			transform: rotate(0deg);
		}
	}
}




