


.section-resource-center.section-resource-center-main{

	.page-above-title, .page-main {
		padding: 0px !important;
	}

	.wrapper.divider{
		padding-top:0px;

		.component-divider{
			padding-top:0px;
		}
	}



	header.page-header{
		display: inline-block !important;
	}


//// TITLE AND SEARCH AREA
	.page-top{
		background: transparent;

		@include bg-color($white);

		.page-title{
			h2{
				@include h2($primary-blue);
				text-align:center;
			}
		}


		#resource-center-controls{
			// THIS IS GRID AND LIST ICONS

			ul#display-buttons{
				display: flex;

				li:first-child, li:nth-child(2){ //grid and list icon
					margin-left: 0;

					a{
						margin-left: 0;
						display: flex;
						align-items: center;
						gap: 8px;
						padding: 10px 20px;
					    border: 1px solid $gray;

					    font-size:0px !important;

					    @include tablet{
  							font-size: initial !important;
					    }


					    @include label($dark-gray);

						i.ico-grid, i.ico-list, i.ico-map{
							background: none;
							height: 11px;
						    margin-top: 0px;
						    margin-bottom: 0px;
						    width: 11px;
						    background-size: cover;

						    filter: none !important;
						}

						&.active{
							background: $light-blue;
						}

						&:hover{
							background: $light-gray;
						}
					}
				}

				li:first-child{ // list icon
					a{
						border-radius: 10px 0px 0px 10px;
						.ico-list{
		  					content: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2212%22%20viewBox%3D%220%200%2014%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M13.75%2011.25H0.25V9.75H13.75V11.25ZM13.75%208.25H0.25V6.75H13.75V8.25ZM13.75%205.25H0.25V3.75H13.75V5.25ZM13.75%202.25H0.25V0.75H13.75V2.25Z%22%20fill%3D%22%232E3A59%22/%3E%3C/svg%3E");
						}
					}
				}

				li:nth-child(2){ // grid icon
					a{
						border-radius: 0px 10px 10px 0px;
						.ico-grid{
							content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M11.25%2011.25H6.75V6.75H11.25V11.25ZM5.25%2011.25H0.75V6.75H5.25V11.25ZM11.25%205.25H6.75V0.75H11.25V5.25ZM5.25%205.25H0.75V0.75H5.25V5.25Z%22%20fill%3D%22%232E3A59%22/%3E%3C/svg%3E");
						}
					}
				}
			}

			//// LIST 

			&[data-display-type="card_and_list_view_list_default"]{
				// LIST ICON
				ul#display-buttons li a[data-display-value="list"] {
					background: $light-blue;
					color: $navy-blue;
				}

				// CARD ICON
				ul#display-buttons li a[data-display-value="card"] {
				
				}
			}

			//// CARD

			&[data-display-type="card_and_list_view_card_default"]{
				// LIST ICON
				ul#display-buttons li a[data-display-value="list"] {

				}

				// CARD ICON
				ul#display-buttons li a[data-display-value="card"] {
					background: $light-blue;
					color: $navy-blue;
				}
			}
		}
	}


//// THE LISTINGS

	.page-main{
		.shell.resource-center-grid.resource-center-style{
			.wrapper{
				@include bg-color($white);
				.row{
					.positions{
						.listing-container{
							.entry.resource-entry{

							
									flex: 1;
									border-radius: 24px;
									border: 1px solid $gray !important;;
									background: white;
									padding: 15px;
									box-shadow: $shadow;
									transition: .3s;
									width: auto;

									//new 
									margin-top: 0px;

									@include desktop{
										padding: 20px;
									}

									// .body{
									// 	padding: 0px;
									// 	padding-top: 2px;
									// 	min-height: auto;
									// 	margin-top: 20px;

										&:after{
											margin-top: 20px;
											@include document($primary-blue);
										}

										&:hover{
											box-shadow: $hover-shadow;
											transition: .3s;

											&:after{
												margin-top: 20px;
												@include document($medium-blue);
											}
										}		
						
					

								a div.resource-thumbnail img{

								}

								.resource-content{
									.resource-button{

									}

									.resource-type{
										display: none;
									}

									h3{
										order: 2 !important;
										@include h4($navy-blue);
									}

									.resource-topics{
										order: 1 !important;
										a{
											@include p($medium-blue);
											@include p-bold($medium-blue);
											border: 0px;
											padding: 0px !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}