


.section-resource-center.section-resource-center-main{

	.page-above-title, .page-main {
		padding: 0px !important;
	}



	header.page-header{
		display: inline-block !important;
	}

	#component-977341.component-container{
		.bg-overlay{
			width: 100%;
		    box-sizing: border-box;
		    @include responsive-padding();
		}

		.component-promo{
	  		position: relative;
		  	display: inline-block;
		  	
		  	height: 320px;

		  	    margin-bottom: -6px !important;

		  	@include desktop {
		  		height: 520px;
		  	}

		  	div.has-ratio{
		  		height:100%;
		  	}
			img {
			  object-fit:cover;
			  object-position: center !important;
			  min-height:100%;
			   min-width:100%;

			   position: relative;
			    transform: none;
			    translate: -50% -50%;
			    z-index: -1;
			}

			.promo-text p{
		 		@include p-bold($light);
		 	}

		 	.promo-text h1{
		 		@include h1($light);
		 		text-align: left;

		 		br{
		 			display:none;
		 		}
		 	}

			.promo-title p strong{
				@include p-bold($light);
			}

			.promo-title h2{
				br{   display: none;}
			}

			 &::after {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: linear-gradient(180deg, rgba(9, 14, 32, 0.00) 17.76%, rgba(9, 14, 32, 0.18) 34.21%, rgba(9, 14, 32, 0.60) 54.77%, rgba(9, 14, 32, 0.80) 100%);
			    pointer-events: none; // Ensures overlay doesn't interfere with interactions
			}
		}


		@include tablet {
			&.pushdown{
				.component-promo{
					img {
					    translate: -50% -42%;
					}
				}
			}

			&.pushup{
				.component-promo{
					img {
					    translate: -50% -62%;
					}
				}
			}
		}
	}




}