


.section-resource-center.section-resource-center-main{

	.page-above-title, .page-main {
		padding: 0px !important;
	}

	.wrapper.divider{
		padding-top:0px;

		.component-divider{
			padding-top:0px;
		}
	}



	header.page-header{
		display: inline-block !important;
	}


//// TITLE AND SEARCH AREA
	.page-top{
		background: transparent;

		@include bg-color($white);

		.page-title{
			h2{
				@include h2($primary-blue);
				text-align:center;
			}
		}


		#resource-center-controls{

			.grid{
				display: flex;
				max-width: none !important;

				.col-span-2:first-child{
					order:4;
					margin-left: auto;
					margin-right: 15px;
				}

				.col-span-2:nth-child(2){
					order:1;
				}

				.col-span-2:nth-child(3){
					order:2;
				}

				.col-span-2:nth-child(4){
					order:3;
				}

				.select-wrapper{
					margin: 0px;

					.chzn-container{
						border: 1px solid $gray;
		   	 			border-radius: 24px;
		   	 			width: auto !important;
					}
				}
			}



			.select-wrapper .chzn-container-single .chzn-single{
				background: transparent;
				width: auto !important;
				box-shadow: none;

				/* Add dropdown arrow via ::before */
					&::after {
					  	content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%206L6%200L12%206L10.6%207.4L6%202.8L1.4%207.4L0%206Z%22%20fill%3D%22black%22/%3E%3C/svg%3E");
						position:absolute;
						right: 25px;
						top: 0px;
		    			transform: rotate(180deg);
					  	transition: transform 0.3s ease;
					}

			
			}

			.chzn-container-single .chzn-drop{
				margin-top: 8px;
				padding-top: 0px;
				box-shadow: $hover-shadow;
				border: 0px solid black;
				border-radius: 16px;
				    overflow: hidden;
			}

			.chzn-container .chzn-results li+li {
				border: 0px;
			}

			.chzn-container .chzn-results .active-result{
				&.result-selected{
					background-color: $pale-blue;
				}
				&.highlighted{
					background-color: $ieta;
				}

			}

			form{
				width: 100%;
			}

			input[name="keyword"] {
				background: $light-gray;
				border-radius: 100px;
				position: relative;

				background-image: url("data:image/svg+xml,%3Csvg%20width='18'%20height='18'%20viewBox='0%200%2018%2018'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M16.455%2018L10.2262%2011.7796C9.7357%2012.1551%209.17166%2012.4571%208.53406%2012.6857C7.89646%2012.9143%207.21798%2013.0286%206.49864%2013.0286C4.68392%2013.0286%203.14714%2012.3958%201.88828%2011.1301C0.629428%209.86514%200%208.32653%200%206.51429C0%204.70204%200.629428%203.1631%201.88828%201.89747C3.14714%200.63249%204.68392%200%206.49864%200C8.31335%200%209.85439%200.63249%2011.1217%201.89747C12.3884%203.1631%2013.0218%204.70204%2013.0218%206.51429C13.0218%207.23265%2012.9116%207.9102%2012.6912%208.54694C12.4702%209.18367%2012.1717%209.73878%2011.7956%2010.2122L18%2016.4327L16.455%2018ZM6.49864%2010.7755C7.6921%2010.7755%208.70572%2010.3631%209.53951%209.53829C10.3733%208.71412%2010.7902%207.70612%2010.7902%206.51429C10.7902%205.32245%2010.3733%204.31412%209.53951%203.48931C8.70572%202.66514%207.6921%202.25306%206.49864%202.25306C5.30518%202.25306%204.2958%202.66514%203.47052%203.48931C2.64458%204.31412%202.23161%205.32245%202.23161%206.51429C2.23161%207.70612%202.64458%208.71412%203.47052%209.53829C4.2958%2010.3631%205.30518%2010.7755%206.49864%2010.7755Z'%20fill='%2327277C'/%3E%3C/svg%3E");

				background-repeat: no-repeat;
				background-position: 47% center;
				background-size: 37%;
				padding: 10px;
				transition: .3s;
				margin: 0px;
			    width: 40px;
			    height: 40px;
			    padding: 14px 20px 14px 20px;

			    &::placeholder {
					color: transparent !important;  /* hides the placeholder text */
					font-size: 0px;
				}

				@include tablet{
					width: auto;
					height: auto;
					padding: 14px 20px 14px 40px;

					background-position: 7% center;
					background-size: 7%;

					&::placeholder {
						color: $gray !important;  /* hides the placeholder text */
						font-size: inherit;
					}
				}

		

				// &:focus{
				// 	transition: .3s;
				// 	width: 100%;
					// background-position: 7% center;
					// background-size: 7%;
					// padding: 14px 20px 14px 45px;
					//    transform-origin: right center !important;

				// }
			}

			select[name="type"] {
				background: red;
				border: 1px solid $gray;
   	 			border-radius: 24px;
			}

			select[name="topic"] {
				background: red;
				border: 1px solid $gray;
   	 			border-radius: 24px;
			}


			input[type="submit"] {
				display:none;
			}



			.reset-search{
				float: none;
				@include caption($text);
				line-height: 50px !important;
				font-weight: 300;
				text-decoration: underline;
			}




			// THIS IS GRID AND LIST ICONS

			ul#display-buttons{
				display: flex;

				li:first-child, li:nth-child(2){ //grid and list icon
					margin-left: 0;

					a{
						margin-left: 0;
						display: flex;
						align-items: center;
						padding: 10px;
					    border: 1px solid $gray;

					    font-size:0px !important;

					    @include tablet{
  							font-size: initial !important;
  							padding: 10px 20px;
  							gap: 8px;
					    }


					    @include label($dark-gray);

						i.ico-grid, i.ico-list, i.ico-map{
							background: none;
							height: 14px;
							width: 14px;
						    margin-top: 0px;
						    margin-bottom: 0px;
						    background-size: cover;

						    filter: none !important;

						    @include tablet{
						    	height: 11px;
						    	width: 11px;
						    }
						}

						&.active{
							background: $light-blue;
						}

						&:hover{
							background: $light-gray;
						}
					}
				}

				li:first-child{ // list icon
					a{
						border-radius: 10px 0px 0px 10px;
						.ico-list{
		  					content: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2212%22%20viewBox%3D%220%200%2014%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M13.75%2011.25H0.25V9.75H13.75V11.25ZM13.75%208.25H0.25V6.75H13.75V8.25ZM13.75%205.25H0.25V3.75H13.75V5.25ZM13.75%202.25H0.25V0.75H13.75V2.25Z%22%20fill%3D%22%232E3A59%22/%3E%3C/svg%3E");
						}
					}
				}

				li:nth-child(2){ // grid icon
					a{
						border-radius: 0px 10px 10px 0px;
						.ico-grid{
							content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M11.25%2011.25H6.75V6.75H11.25V11.25ZM5.25%2011.25H0.75V6.75H5.25V11.25ZM11.25%205.25H6.75V0.75H11.25V5.25ZM5.25%205.25H0.75V0.75H5.25V5.25Z%22%20fill%3D%22%232E3A59%22/%3E%3C/svg%3E");
						}
					}
				}
			}

			//// LIST 

			&[data-display-type="card_and_list_view_list_default"]{
				// LIST ICON
				ul#display-buttons li a[data-display-value="list"] {
					background: $light-blue;
					color: $navy-blue;
				}

				// CARD ICON
				ul#display-buttons li a[data-display-value="card"] {
				
				}
			}

			//// CARD

			&[data-display-type="card_and_list_view_card_default"]{
				// LIST ICON
				ul#display-buttons li a[data-display-value="list"] {

				}

				// CARD ICON
				ul#display-buttons li a[data-display-value="card"] {
					background: $light-blue;
					color: $navy-blue;
				}
			}
		}
	}


//// THE LISTINGS

	.page-main{
		.shell.resource-center-grid.resource-center-style{
			.wrapper{
				@include bg-color($white);
				.row{
					.positions{
						.listing-container{
							.entry.resource-entry{

							
									flex: 1;
									border-radius: 24px;
									border: 1px solid $gray !important;;
									background: white;
									padding: 15px;
									box-shadow: $shadow;
									transition: .3s;
									width: auto;

									//new 
									margin-top: 0px;

									@include desktop{
										padding: 20px;
									}

									// .body{
									// 	padding: 0px;
									// 	padding-top: 2px;
									// 	min-height: auto;
									// 	margin-top: 20px;

										&:after{
											margin-top: 20px;
											@include document($primary-blue);
										}

										&:hover{
											box-shadow: $hover-shadow;
											transition: .3s;

											&:after{
												margin-top: 20px;
												@include document($medium-blue);
											}
										}		
						
					

								a div.resource-thumbnail img{

								}

								.resource-content{
									.resource-button{

									}

									.resource-type{
										display: none;
									}

									h3{
										order: 2 !important;
										@include h4($navy-blue);
									}

									.resource-topics{
										order: 1 !important;
										a{
											@include p($medium-blue);
											@include p-bold($medium-blue);
											border: 0px;
											padding: 0px !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}








.section-resource-center.section-resource-center-listing{

	aside{
		display: none;
	}

	.col-8{
		width: 100%;
	}

	.post-heading{
		@include responsive-padding;
		background: $light;
		margin-bottom: 0px;

		.resource-header-content{
			@include responsive-padding;
			padding-top: 0px;
			padding-bottom: 0px;
		}

		h5{
			@include h5($medium-blue);
		}

		.resource-type{
			display: none;
		}

		.resource-action-button{
			@include download-btn($primary-blue);
			a{
				font-size: 0px;
				background: $white;
				Border: 1px solid $gray;
				i.fa{
					display: none !important;
				}
				
			}
		}
	}

	article.post{
		@include responsive-padding;

		.resource-article-content{
			@include responsive-padding;
			padding-top: 0px;
			padding-bottom: 0px;
		}

		img{
			width: 100%;
			border-radius: 24px;
			background: $primary-blue;
		}

		div.editor-copy{
			max-width: 70%;
			margin: 0 auto;

			img{
				border-radius: 24px;
				box-sizing: border-box;
				margin: 0px;
				padding: 0px;
			}
		}
	}


	.wrapper.feature-posts{
		h4{
			margin-bottom: $toppad-mob;

			@include desktop{
				margin-bottom: $toppad-desk;
			}
		}
	}

}












